<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.collect.mapper.CollWebsiteMapper">
    
    <resultMap type="CollWebsite" id="CollWebsiteResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="url"    column="url"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCollWebsiteVo">
        select id, name, url, create_by, create_time, update_by, update_time from coll_website
    </sql>

    <select id="selectCollWebsiteList" parameterType="CollWebsite" resultMap="CollWebsiteResult">
        <include refid="selectCollWebsiteVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
        </where>
    </select>
    
    <select id="selectCollWebsiteById" parameterType="Long" resultMap="CollWebsiteResult">
        <include refid="selectCollWebsiteVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCollWebsite" parameterType="CollWebsite" useGeneratedKeys="true" keyProperty="id">
        insert into coll_website
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="url != null and url != ''">url,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="url != null and url != ''">#{url},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateCollWebsite" parameterType="CollWebsite">
        update coll_website
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="url != null and url != ''">url = #{url},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCollWebsiteById" parameterType="Long">
        delete from coll_website where id = #{id}
    </delete>

    <delete id="deleteCollWebsiteByIds" parameterType="String">
        delete from coll_website where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>